html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #ccccccfe;
}

:root {
  --primary-700: #007CEE;
  --primary-500: #00A6FF;
  --primary-800: #8865CC;
  --primary-600: #6470DE;
  --gray-200: #EDF0F7;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.videos_portal_styles {
  margin-left: 20%;
  width: 60%;
  height: calc(100vh - 10%);
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}