html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #ccccccfe;
}

:root {
  --primary-700: #007CEE;
  --primary-500: #00A6FF;
  --primary-800: #8865CC;
  --primary-600: #6470DE;
  --gray-200: #EDF0F7;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.videos_portal_styles {
  width: calc(100vw - 25%);
  height: calc(100vh - 15%);
  left: 0;
  top: 0;
  position: absolute;
  display: grid;
  overflow: hidden;
}

.grid-3-4{
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.grid-1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container {
  width: 95%;
  height: 95%;
  margin: 2.5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.tag-container{
  position: absolute;
  left: 5%;
  top: 5%;
  background-color: rgba(0, 0, 0, 1);
  opacity: .6;
  padding: .75rem 1.5rem;
  border-radius: 25px;
}

.tag-name {
  color: white;
  opacity: 1;
  font-weight: 500;
  font-size: 1.2rem;
}